@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image:url(../uploads/capa/faetec\ fundo.png);

    
    background-position: center, 0 0, right bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 100px;  
}

.container{
    height: 700px;
    background: #fff;
    width: 1500px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.5s ease;
}

.container.active{
    height: 530px;
}

.header h2{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color:#000000;
    margin-top: -50px;
    font-family: Jockey One ;

}

.container .form{
    padding: 20px 0 25px;
}

.container :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.form input{
    padding: 0 17px;
    font-size: 18px;
    border: 1px solid #999;
}

.form button{
    color: #35A8DF;
    background: black;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}



.qr-code .img{
    margin-top: 30px;
    width: 500px;
    height: auto;
}



.img{
    height: 90px;
    width: 120px;
}

.textinfo{
    float: right;
    margin-top: 100px;
    background-color: #268dbd;
    width: 700px;
    height: 350px;
    padding: 30px 60px ;
    border-radius: 20px;
    margin-right: 200px;



}

.textinfo p{
    font-size: 30px;
    
    font-family: Jockey One ;
   
}



