@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image:url(../uploads/capa/faetec\ fundo.png);

    
    background-position: center, 0 0, right bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 100px;  
}

.container{
    height: 600px;
    background: #fff;
    width: 1000px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.5s ease;
   
}

.container.active{
    height: 530px;
}

.header h2{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-top: -60px;
    font-family: Jockey One;

}

.header h3{
    text-align: center;
    font-family: Jockey One;
    font-size: 20px;
    
}

.input1{
    margin-top: 40px;
font-size: 20px;

}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
    
   
}

.button{
    color: #ffffff;
    background: rgb(22, 132, 165);
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: -400px;
    margin-left:350px;
    align-items: center;
    padding: 15px 50px;
    border-radius: 20px;
    box-shadow: #000000 2px 2px ;
}


.img{
    height: 90px;
    width: 120px;
}




.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #35A8DF;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #919191;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #35A8DF;
}

.back{
    background-color: #35A8DF;
    width: 50px;
    height: 25px;
    align-items: center;
    padding: 6px 7px;
    border-radius: 10px;
}


